# Исключаем поды
--exclude Pods
# Настройки опций форматированимя
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--stripunusedargs closure-only
--indent 4
--commas inline

# Отключаем следующие правила:
--disable void

# Генерируем хедер
--header "{file}\nCopyright © PJSC Bank Otkritie. All rights reserved."

# Отключаем отступ
--ifdef no-indent

--swiftversion 5.1
